// COLORS
$color-black: rgb(0, 0, 0);
$color-white: rgb(255,255,255);
$color-green: rgb(30, 215, 96);

$color-primary-0: #1DB952;	/* Main Primary color */
$color-primary-1: #66D58B;
$color-primary-2: #3DC46B;
$color-primary-3: #039F38;
$color-primary-4: #007D2A;
$color-secondary-1-0: #1E7E9E;	/* Main Secondary color (1) */
$color-secondary-1-1: #61ACC5;
$color-secondary-1-2: #3B90AC;
$color-secondary-1-3: #086888;
$color-secondary-1-4: #04516B;
$color-secondary-2-0: #95E724;	/* Main Secondary color (2) */
$color-secondary-2-1: #BDF273;
$color-secondary-2-2: #A8EC4A;
$color-secondary-2-3: #75C704;
$color-secondary-2-4: #5A9C00;

// GRID
$grid-width: 135rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 4rem;



$fa-font-path: "../webfonts";

