.App {
  text-align: center;
  padding: 0;
  

}

.App-header {
   background-color: rgba(0, 0, 0, 0.3);
   padding: 5px 15px;
   height: 66px;
}

.App-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1350px;
    color: white;
    margin: 0 auto;
}

.left-content {
    display: flex;
    align-items: center;
}

.App-title {
   font-size: 30px;
   
}

.App-desc {
    margin-top: 10px;
    margin-left: 15px;
    font-size: 13px;
}

.App-intro {
  font-size: large;
}

.App-footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 13px;
}

.spotify-logo{
   height: 25px;
   margin-right: 10px;
}
.row{
   margin: 0;
}
.Col{
   margin-top: 20px;
   padding: 0;
   margin-bottom: 20px;
}

.search-col{
   border-right: 1px solid #aaa;
   padding: 10px;
}

.list-col{
padding: 10px;
}


.list-group-item{
   background-color: #222;
   border: 1px solid #444;
   border-radius: 10px;
   margin: 12px 0;
  
}

.Axis text{
   fill: #9e9e9e;
   font-size: 1.3em;
}

.song-text{
   font-size: 0.9em;
   text-align: left;
   margin-bottom: 0;
}

.song-text.title{
   font-size: 1.0em;
   color: #ccc;

}

.song-text.album{

   padding-bottom: 10px;

}


.more-details {
   border: 1px solid #aaa;
   padding: 4px;
   margin-top: 10px;
}


