.card {
  background-color: rgba($color-black, 1);
  border: .1rem solid $color-black;
  min-height: 50rem;
  padding: 1rem;



  &__title {
    color: $color-white;
    margin-bottom: 1rem;
    font-size: 2.5rem;

  }

  // &__body {
  // }

  &__img-box {
    &__img {
      width: 90%;
    }
  }

  // &__text-box {
  //   &__text {}
  // }

  &__link-box {
    &__link { 
      color: $color-lavender;
      font-size: 5rem;
      padding: 1rem;
    }
  }

}